@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noticia", "Times New Roman", sans-serif;
  background-color: #f9fcff;
}

section {
  width: 80%;
  margin: 1rem auto;
  padding-bottom: 3.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

body {
  position: relative;
  min-height: 100vh;
}
